Datasets/*
!Datasets/output_2d/
!Datasets/output_2d/**

Datasets/p*/
Datasets/*/iphone_*/
Datasets/*/kinect_*/
Datasets/*/background/
Datasets/*/smpl_params.npz
Datasets/*/cameras.json

body_models/
humman_toolbox/
env/
python/
.vscode/
__pycache__/
*.pyc
*.pyo
*.log
.DS_Store
Thumbs.db